{%  extends 'verticalnav.html' %}
{% block title %}
    HRMS - Leave
{% endblock %}
{% block maincontainer %}
    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <script>window.alert("{{ message }}");</script>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="row">
            <div class="col-md-6">
                <h3>Apply For Leave</h3>
                <form method="post" action="{{ url_for('add_leave') }}" onsubmit="return validateForm()" id="leave_form">
                    <table class="form-group">
                        <tr>
                            <th> <label for="employee_id">Employee ID:</label></th>
                            <td><input type="text" class="form-control" name="emp_id" id="employee_id" value="{{ users['Employee_ID'] }}" readonly style="margin-top: 15px"></td>
                        </tr>
                        <tr>
                            <th><label for="fromdate">From Date:</label></th>
                            <td><input type="date" class="form-control" id="fromdate" name="fromdate" required></td>
                        </tr>
                        <tr>
                            <th><label for="todate">To Date:</label></th>
                            <td><input type="date" class="form-control" id="todate" name="todate" required></td>
                        </tr>
                        <tr>
                            <th> <label for="type">Type:</label></th>
                            <td><input type="text" class="form-control" name="type" id="type" required></td>
                        </tr>
                        <tr>
                            <th> <label for="reason">Reason:</label></th>
                            <td><input type="text" class="form-control" name="reason" id="reason" required style="width: 250%"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" class="form-control" name="status" id="status" hidden value="pending"></td>
                        </tr>

                        <tr>
                            <td colspan="2" style="align-content:center;"><input type="submit" value="Submit" id="submit_btn"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-md-6">
                <h4>Pending Leave request </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">S.N</th>
                            <th scope="col">Employee ID</th>
                            <th scope="col">From Date</th>
                            <th scope="col">To Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                <tbody>
                    {% if leaves %}
                        {% for leave in leaves %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ leave['Employee_ID'] }}</td>
                                <td>{{ leave['Start_Date'] }}</td>
                                <td>{{ leave['End_Date'] }}</td>
                                <td>{{ leave['Type'] }}</td>
                                <td>{{ leave['Reason'] }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary mr-1" onclick="editLeave('{{ leave['ID'] }}',
                                            '{{ leave['Employee_ID'] }}', '{{ leave['Start_Date'] }}', '{{ leave['End_Date'] }}', '{{ leave['Type'] }}', '{{ leave['Reason']  }}')">Edit</a>
                                    <a href="{{ url_for('cancel_leave',id=leave['ID']) }}" class="btn-sm btn-danger">Cancel</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="6"><p>No pending leave for approval.</p></td></tr>
                    {% endif %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    function editLeave(id, employeeId, startdate, enddate, type, reason) {
        document.getElementById('employee_id').value = employeeId;
        document.getElementById('fromdate').value = startdate;
        document.getElementById('todate').value = enddate;
        document.getElementById('type').value = type;
        document.getElementById('reason').value = reason;
        let form = document.getElementById('leave_form');
        form.action = "{{ url_for('edit_leave', id='__id__') }}".replace('__id__', id);
        let submitBtn = document.getElementById('submit_btn');
        submitBtn.value = "Submit Change";
    }
    function validateForm() {
        let fdate = new Date(document.getElementById('fromdate').value);
        let todate = new Date(document.getElementById('todate').value);
        if (fdate > todate) {
            console.log(fdate);
            console.log(todate);
            alert('From date cannot be greater than to date');
            return false;
        }
    }

{% endblock %}