{% extends 'verticalnav.html' %}
{% block title %}
    HRMS - Attendacne
{% endblock %}
{% block script %}
    var today = new Date();
    var yyyy = today.getFullYear();
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var dd = String(today.getDate()).padStart(2, '0');
    var formattedDate = yyyy + '-' + mm + '-' + dd;

    document.getElementById('date').value = formattedDate;
    function currentTime() {
        let currentTime = new Date().toLocaleTimeString('en-US', { hour12: false });
        document.getElementById('time').value = currentTime;
    }
    currentTime();
    function getLocation() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert('Geolocation is not supported by this browser.');
        }
    }

    function showPosition(position) {
        document.getElementById('latitude').value = position.coords.latitude;
        document.getElementById('longitude').value = position.coords.longitude;
    }

    getLocation();

{% endblock %}
{% block maincontainer %}
    <div class="container mt-4">
        <div class="row">
            <h2>Attendance</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <script>window.alert("{{ message }}");</script>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('attendance') }}" method="POST" style="width: 45%; position: center; left: 30em">
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" class="form-control" required readonly>
                </div>
                <div class="form-group">
                    <label for="time">Time:</label>
                    <input type="time" id="time" name="time" class="form-control" required readonly>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude:</label>
                    <input type="text" class="form-control" id="latitude" name="latitude"  readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude:</label>
                    <input type="text" class="form-control" id="longitude" name="longitude"  readonly>
                </div>
                <button type="submit" class="btn btn-primary">Mark Attendance</button>
            </form>
        </div>
    </div>
{% endblock %}

