<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                        <script>alert('{{ message }}')</script>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data" style="width: 60%; position: absolute; left: 30em; ">
        <div class="form-group">
                    <label for="profile_image">Profile photo:<a class="required" style="font-size: 1em">Images should
                        be on Jpeg/PNG format and less than 500 KB</a> </label>
                    <input type="file" name="profile_image" id='profile_image' class="form-control-file" onchange="validateimage(this)"required>
                    <small id="profile_image_error" class="text-danger"></small>
        </div>
        <div class="form-group">
                <label for="resume_file">Resume File:<a class="required" style="font-size: 1em">Files should
                        be on Pdf format and less than 500 KB</a></label>
                <input type="file" name="resume_file" id="resume_file" class="form-control-file" onchange="validateFile(this)">
                <small id="file_error" class="text-danger"></small>
        </div>

        <button type="submit" class="btn btn-primary">Add image</button>
    </form>
    <div>
        <h1>Profile Image</h1>
        <img src="{{ url_for('display_image', filename=profile_image_path) }}" alt="Profile Image" style="height: 200 px; width: 200px">
         <h1>Resume File</h1>
        <a href="{{ url_for('display_file', filename=resume_file_path) }}" target="_blank">Download Resume</a>
    </div>

</body>
</html>
<script>
    function validateimage(profileinput) {
        var profileImage = profileinput.files[0];
        var profileImageError = document.getElementById('profile_image_error');
        if (!profileImage) {
            profileImageError.textContent = 'Please select a profile image.';
            return false;
        }
        var allowedTypes = ['image/jpeg', 'image/png'];
        var maxSizeInBytes = 500 * 1024;
        if (!allowedTypes.includes(profileImage.type)) {
            profileImageError.textContent = 'Only JPEG and PNG images are allowed.';
            return false;
        }
        if (profileImage.size > maxSizeInBytes) {
            profileImageError.textContent = 'Image size exceeds the maximum limit of 500KB.';
            return false;
        }
        profileImageError.textContent = '';
        return true;
    }
    function validateFile(fileInput) {
        var fileError = document.getElementById('file_error');
        var file = fileInput.files[0];
        if (!file) {
            fileError.textContent = 'Please select a file.';
            return;
        }
        if (file.type !== 'application/pdf') {
            fileError.textContent = 'Please select a PDF file.';
            return;
        }
        var maxSizeInBytes = 500 * 1024;
        if (file.size > maxSizeInBytes) {
            fileError.textContent = 'File size exceeds the maximum limit of 500KB.';
            return;
        }
        fileError.textContent = '';
    }

</script>
