{% extends 'verticalnav.html' %}

{% block title %}
    HRMS - Leaves History
{% endblock %}

{% block maincontainer %}
    <div class="container">
        <h2>Leave History</h2>
        <div class="search">
              <input type="text" name="search"  id="searchInput" onkeyup="filterContent()" placeholder="Search..">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Approved by</th>
                    <th>Approved Date</th>
                </tr>
            </thead>
            <tbody id="contentContainer">
                {% for leave in leaves %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ leave['Type'] }}</td>
                        <td>{{ leave['Start_Date'] }}</td>
                        <td>{{ leave['End_Date'] }}</td>
                        <td>{{ leave['Reason'] }}</td>
                        <td>{{ leave['Status'] }}</td>
                        <td>{{ leave['Approved_by'] }}</td>
                        <td>{{ leave['Approved_at'].split(' ')[0] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

