<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HRMS - login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          <i class="fas fa-users fa-2x me-3 t-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">HRMS</span><br>
        </div>
          <form style="width: 23rem;">
            <br><h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
              <input type="text" id="username"  name="username" class="form-control form-control-lg" />
            </div>
            <div class="form-outline mb-4">
                 <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg">
                <button type="button" id="btnToggle" class="toggle">
                    <i id='eyeicon' class="far fa-eye"></i>
                </button>
            </div>
            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="button" value="login">Login</button>
            </div>
            <p class="medium mb-5 pb-lg-2"><a class="text-muted" href="#">Forgot password?</a></p>
            <p>Don't have an account? <a href="#" class="link-info">Contact Administration</a></p>
          </form>
        </div>
    </div>
  </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
          <div class="account-block rounded-right">
              <div class="overlay rounded-right"></div>
              <div class="account-testimonial">
                  <p>Developed by:</p>
                    <span>Aakash Thapa</span><br>
                    <span>Kapil Karki</span><br>
                    <span>Prarthana Sapkota</span><br>
                    <span>Suraj Shrestha</span>
              </div>
          </div>
      </div>
</section>
</body>
</html>
<script>
  let passwordinput = document.getElementById('password'),
      toggle = document.getElementById('btnToggle'),
      icon = document.getElementById('eyeicon');
        function togglePassword() {
            if( passwordinput.type === 'password') {
                passwordinput.type = 'text';
                icon.classList.add('fa-eye-slash');
            }else {
                passwordinput.type = 'password';
                icon.classList.remove('fa-eye-slash');
            }
        }
       toggle.addEventListener('click',togglePassword,false)
</script>