{% extends 'verticalnav.html' %}
{% block title %}
    HRMS - Payroll
{% endblock %}
{% block maincontainer %}
 <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>window.alert("{{ message }}");</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Payroll</h1>
    <form action="{{ url_for('payroll') }}" method="POST" id="Payrollform">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="year">Year:</label>
                    <select class="form-select form-select-lg mb-6" id="year" name="year" required style="width: 300px">
                        <option value="" selected disabled>Select Year</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="month">Month:</label>
                    <select class="form-select form-select-lg mb-6" id="month" name="month" required style="width: 300px">
                        <option value="" selected disabled>Select Month</option>
                        {% for month in months %}
                            {% set monthNumber = loop.index %}
                            {% set monthValue = "{:02d}".format(monthNumber) %}
                            <option value="{{ monthValue }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4" style=" margin-top: 7px"><br>
                <button type="submit" class="btn btn-primary">Generate Payroll</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </div>
    </form>
    <button class="btn btn-success" onclick="printPage()">Print Report</button>
    <div class="search">
             <input type="text" name="search"  id="searchInput" onkeyup="filterContent()" placeholder="Search..">
    </div>
    <div class="col-lg-12" style="margin-top: 2em">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Total Attendance</th>
                    <th scope="col">Salary Scale</th>
                    <th scope="col">Gross Salary</th>
                    <th scope="col">Allowances</th>
                    <th scope="col">SSF(10%)</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Net Salary</th>
                </tr>
            </thead>
            <tbody id="contentContainer">
                {% if data %}
                    {% for row in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row['Name'] }}</td>
                                <td>{{ row['ID'] }}</td>
                                <td>{{ row['Designation'] }}</td>
                                <td>{{ row['count(*)'] }}</td>
                                <td>{{ row['Salary'] }}</td>
                                <td class="result-cell">{{ "%.2f" % (row['count(*)']*row['Salary']/30) }}</td>
                                <td><input type="text"  class="allowance-input" id="allowances" name="allowances" value="0"></td>
                                <td id="ssf" class="ssf-cell"></td>
                                <td id="tax"  class="tax-cell"></td>
                                <td id="nettotal" class="nettotal-cell"></td>

                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">No data Found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
{% block script %}
  window.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('Payrollform');
        form.addEventListener('submit', function() {
            var tableRows = document.getElementsByTagName('tr');
            if (tableRows.length > 1) {
                var allowanceInputs = document.getElementsByClassName('allowance-input');
                Array.from(allowanceInputs).forEach(function(input) {
                    input.addEventListener('input', calculateSum);
                });

                calculateSumOnLoad();
            }
        });
    });

    function calculateSumOnLoad() {
        var tableRows = document.getElementsByTagName('tr');
        if (tableRows.length > 1) {
            for (var i = 1; i < tableRows.length; i++) {
                calculateSumForRow(tableRows[i]);
            }
        }
    }

    function calculateSum(event) {
        var input = event.target;
        var row = input.parentNode.parentNode;
        calculateSumForRow(row);
    }

    function calculateSumForRow(row) {
        var resultCell = row.querySelector('.result-cell');
        var allowanceInput = row.querySelector('.allowance-input');
        var ssfCell = row.querySelector('.ssf-cell');
        var taxCell = row.querySelector('.tax-cell');
        var netTotalCell = row.querySelector('.nettotal-cell');

        if (resultCell && allowanceInput && ssfCell && taxCell && netTotalCell) {
            var result = parseFloat(resultCell.textContent);
            var allowances = parseFloat(allowanceInput.value);
            var ssf = (result + allowances) * 0.1;
            var tax = (result + allowances - ssf) * 0.01;
            var net = result + allowances - ssf - tax;

            ssfCell.textContent = ssf.toFixed(2);
            taxCell.textContent = tax.toFixed(2);
            netTotalCell.textContent = net.toFixed(2);
        }
    }
{% endblock %}