{%  extends 'verticalnav.html' %}
{% block title %}
    HRMS - Performance
{% endblock %}
{% block maincontainer %}
    <div class="container mt-4">
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>window.alert("{{ message }}");</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3>Performance Prediction</h3><br>
        <form method="post" action="{{ url_for('performance_prediction') }}">
            <table class="form-group">
                <tr>
                    <th> <label for="name">Name :</label></th>
                    <td><input type="text" name="name" id="name" required></td>
                </tr>
                <tr>
                    <th> <label for="age">Age :</label></th>
                    <td><input type="text" name="age" id="age"  required></td>
                </tr>
                <tr>
                    <th> <label for="education">Education</label></th>
                    <td>
                        <select id="education" name="education" required>
                            <option value="" selected disabled>Highest level of education</option>
                            <option value="PHD">PHD</option>
                            <option value="Master">Master's Degree</option>
                            <option value="Bachelor">Bachelor's Degree</option>
                            <option value="High School">High School</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th> <label for="Department">Department</label></th>
                    <td>
                        <select id="Department" name="Department" required>
                            <option value="" selected disabled>Select Department</option>
                            <option value="IT">IT</option>
                            <option value="Sales">Sales</option>
                            <option value="HR">Bachelor's Degree</option>
                            <option value="Account">High School</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th> <label for="Experience">Years of Experience :</label></th>
                    <td><input type="text" name="experience" id="experience" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        <br>
        <div class="Result">
            <h4>Prediction Results</h4>
            <table class="table table-striped">
            <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Experience</th>
                        <th>Education Level</th>
                        <th>Department</th>
                        <th>Prediction</th>
                    </tr>
            </thead>
            <tbody>
                {% if performances %}
                    {% for row in performances %}
                        <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row['Name'] }}</td>
                        <td>{{ row['Age'] }}</td>
                        <td>{{ row['Experience'] }}</td>
                        <td>{{ row['Education'] }}</td>
                        <td>{{ row['Department'] }}</td>
                        <td>{{ row['Prediction'] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="7"><p>No performance prediction data available.</p></td></tr>
                {% endif %}
            </tbody>
        </table>
        </div>

    </div>
{% endblock %}