{% extends 'verticalnav.html' %}
{% block title %}
    HRMS - Reset Password
{% endblock %}
{% block maincontainer %}
    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                   <script>window.alert("{{ message }}");</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="#" method="POST">
			<input type="text" id="connectId" name="connectId" hidden="true">
			<input type="text" id="conStatus" name="conStatus" hidden="true">
			<fieldset class="content-group">
				<legend class="text-bold">Reset Users Password</legend>
				<div class="table-responsive">
					<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <br>
                        <table class="table table-striped" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
						<thead>
							<tr role="row">
                                <th> S.N.</th>
                                <th>Employee Name</th>
                                <th>User Name</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
						</thead>
						<tbody>
                            {% if users %}
                                {% for user in users %}
                                    <td class="sorting_1">{{ loop.index }}</td>
                                    <td>{{ user['Name'] }}</td>
									<td>{{ user['Username'] }}</td>
									<td>{{ user['Phone'] }}</td>
                                    <td>{{ user['Email'] }}</td>
                                    <td>{{ user['Status'] }}</td>
									<td>
                                        <a href="{{ url_for('rst_password', id=user['Id']) }}" class="btn btn-sm btn-primary">Reset Password</a>
									</td>
                                 </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                     <th colspan="6">No Users data found</th>
                                </tr>
                            {% endif %}
                        </tbody>
					</table>
				</div>
            </div>
            </fieldset>
		</form>
    </div>
{% endblock %}